# Hexo Configuration
## Docs: https://hexo.io/docs/configuration.html
## Source: https://github.com/hexojs/hexo/

# Site
title:
subtitle:
description: 喜歡冴えない彼女の育てかた 持續從零開始的  coding  生活
keywords:
author: imall
language: zh-TW
timezone: ''

# URL
## Set your site url here. For example, if you use GitHub Page, set url as 'https://username.github.io/project'
url: https://imall.dev/
permalink: :title/
# permalink: :year/:month/:day/:title/
permalink_defaults:
pretty_urls:
  trailing_index: true # Set to false to remove trailing 'index.html' from permalinks
  trailing_html: true # Set to false to remove trailing '.html' from permalinks

# Directory
source_dir: source
public_dir: public
tag_dir: tags
archive_dir: archives
category_dir: categories
code_dir: downloads/code
i18n_dir: :lang
skip_render:

# Writing
new_post_name: :title.md # File name of new posts
default_layout: post
titlecase: false # Transform title into titlecase
external_link:
  enable: true # Open external links in new tab
  field: site # Apply to the whole site
  exclude: ''
filename_case: 0
render_drafts: false
post_asset_folder: false
relative_link: false
future: true
highlight:
  enable: false
  line_number: true
  auto_detect: false
  tab_replace: ''
  wrap: true
  hljs: false
prismjs:
  enable: false
  preprocess: true
  line_number: true
  tab_replace: ''

# Home page setting
# path: Root path for your blogs index page. (default = '')
# per_page: Posts displayed per page. (0 = disable pagination)
# order_by: Posts order. (Order by date descending by default)
index_generator:
  path: ''
  per_page: 10
  order_by: -date

# Category & Tag 首页精选分类
# default_category: uncategorized
default_category: Vue
category_map:
  雜記: miscellanea
  MD 筆記: markdown
  CSS 筆記: css-note
  Vue 筆記: vue-note
  JavaScript 筆記: js-note
  Git 筆記: git-note
  一起來學 Git 吧！: git-learn
  dotnet: dotnet-note

tag_map:

# Metadata elements
## https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta
meta_generator: true

# Date / Time format
## Hexo uses Moment.js to parse and display date
## You can customize the date format as defined in
## http://momentjs.com/docs/#/displaying/format/
date_format: YYYY-MM-DD
time_format: HH:mm:ss
## updated_option supports 'mtime', 'date', 'empty'
updated_option: 'mtime'

# Pagination
## Set per_page to 0 to disable pagination
per_page: 10
pagination_dir: page

# Include / Exclude file(s)
## include:/exclude: options only apply to the 'source/' folder
include:
exclude:
ignore:

# Extensions
## Plugins: https://hexo.io/plugins/
## Themes: https://hexo.io/themes/
# theme: particlex
theme: shoka
# theme: hexo-theme-fluid

# Deployment
## Docs: https://hexo.io/docs/one-command-deployment
deploy:
  type: 'git'
  repo: git@github.com:imall/imall.github.io.git
  branch: main

# Algolia Search
algolia:
  applicationID: 9OLNG30D99 # hexo-algolia 需要 applicationID
  appId: 9OLNG30D99 # 主題腳本需要 appId
  apiKey: 2420ce4eb66804156d1cc252b5728698
  adminApiKey: 093b24f9622c7a7aba2d9cda6af84cea
  indexName: blog
  chunkSize: 5000
  fields:
    - title
    - path
    - categories
    - content:strip
    - excerpt:strip
    - tags
